* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

html {
  background-color: black;
  font-size: 22px;
}

Header {
  display: flex;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  opacity: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
  display: flex;
}

.navigation {
  display: block;
  text-align: right;
  flex-grow: 1;
}

.navigation span {
  display: inline-block;
  padding: 20px 10px;
}

.navigation a {
  color: white;
  text-decoration: underline;
}

.mission {
  position: relative;
  top: 70px;
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("./Images/background_teacozy.jpg");
  align-items: center;
  justify-content: center;
}

.mission_text {
  display: block;
  background-color: black;
  width: 1200px;
}

.mission h2 {
  padding: 10px;
}

.mission h4 {
  padding: 10px;
}

.totm {
  display: flex;
  position: relative;
  top: 150px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 20px 100px;
}

.totm img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}

.totm p {
  margin-bottom: 10px;
}

.info h2 {
  padding: 10px;
}

.info h4 {
  padding: 10px;
}

.row1 {
  display: flex;
  justify-content: space-around;
}

.row2 {
  display: flex;
  justify-content: space-around;
  width:
}

.locations {
  position: relative;
  top: 200px;
  display: flex;
  flex-flow: column nowrap;
  height: 500px;
  width: 1100px;
  margin: 50px;
  align-items: center;
  align-content: space-around;
  background-image: url("./Images/locations_teacozy.jpg");
}

.text {
  margin-top: 50px;
}

.addresses {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: space-around;
  height: 300px;
  width: 980px;
  margin: 15px;
  opacity: 1;
}

.downtown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  margin: 20px;
}

.bayside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  margin: 20px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  margin: 20px;
}

.information {
  position: relative;
  top: 160px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.contact h5 {
  padding: 15px;
}

footer {
  text-align: left;
  margin-left: 20px;
  position: relative;
  bottom: -200px;
}
